 {{!-- <html>
 <body>
    <div>
      You have recently visited our website ..
      <br />
      Please follow the given link to verify your email.
      <a href="http://localhost:8001/user/verify/{{token}}">Verify your email</a>
    </div>
  </body>
/
</html> --}}